<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.fzg"></context:component-scan>
<!--    <bean id="controller" class="com.fzg.controller.MyController">-->
<!--        <property name="myService" ref="service"/>-->
<!--    </bean>-->
<!--    <bean id="service" class="com.fzg.service.impl.MyServiceImpl">-->
<!--        <property name="myRepository" ref="repository"/>-->
<!--    </bean>-->
<!--    <bean id="repository" class="com.fzg.repository.impl.MyRepositoryImpl"></bean>-->
</beans>